{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Book Reviews</title>
  </head>
  <body>
    <header>
      <div>My Book Reviews</div>
      <nav>
        <a href="{% url "create_review" %}">Create a Review</a>
        <link rel="stylesheet" href="{% static "book-review.css" %}">
      </nav>
    </header>
    <main>
      {% for review in reviews %}
      <div class="main-page-book-review">
        <img class="book-cover" src="{{ review.cover_image }}" />
        <h2 class="book-title">
          <a href="details.html">{{ review.title }}</a>
        </h2>
        <div class="book-rating">{{ review.rating }}</div>
        <div class="book-authors">{{ review.authors }}</div>
        <h3>Summary</h3>
        <p>{{ review.summary }}</p>
      </div>
      {% endfor %}
    </main>
    <footer>
      <div>Copyright 2022 by Cindy and Google</div>
      <p>
        This site contains some book reviews that you can read if you're
        interested in learning more about those books.
      </p>
    </footer>
  </body>
</html>
